@import "tailwindcss";

.addParameterButton {
    @apply
        enabled:hover:bg-blue-500
        enabled:hover:border-transparent
        enabled:hover:text-white
        enabled:bg-transparent
        disabled:bg-gray-100
        enabled:text-blue-700
        disabled:text-blue-300
        border
        rounded
        enabled:border-blue-500
        disabled:border-blue-300
        disabled:cursor-not-allowed
        p-2
    ;
}

.removeAllParametersButton {
    @apply
        enabled:hover:bg-red-500
        enabled:hover:border-transparent
        enabled:hover:text-white
        enabled:bg-transparent
        disabled:bg-gray-100
        enabled:text-red-700
        disabled:text-red-300
        border
        rounded
        enabled:border-red-500
        disabled:border-red-300
        disabled:cursor-not-allowed
        p-2
    ;
}

